<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="LavoWeb_RemoveDuplicatedScopedValues::config" title="Remove Duplicated Scoped Values">
                                <resource id="LavoWeb_RemoveDuplicatedScopedValues::products" title="Products" />
                                <resource id="LavoWeb_RemoveDuplicatedScopedValues::categories" title="Categories" />
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
